nvim/lazy-lock.json
# *
# !.gitignore
# !.config/
# !.config/starship.toml
# !.config/dunst/
# !.config/dunst/dunstrc
# !.config/fontconfig
# !.config/fontconfig/fonts.conf
# !.config/gtk-3.0
# !.config/gtk-3.0/settings.ini
# !.config/gtk-4.0
# !.config/gtk-4.0/settings.ini
# !.config/lf
# !.config/lf/cleaner
# !.config/lf/icons
# !.config/lf/lfrc
# !.config/lf/scope
# !.config/lf/shortcutrc
# !.config/nvim
# !.config/nvim/**
# !.config/pinentry
# !.config/pinentry/preexec
# !.config/pipewire
# !.config/pipewire/pipewire.conf
# !.config/pulse
# !.config/pulse/daemon.conf
# !.config/python
# !.config/python/pythonrc
# !.config/screenlayout
# !.config/screenlayout/**
# !.config/shell
# !.config/shell/aliasrc
# !.config/shell/bm-dirs
# !.config/shell/bm-files
# !.config/shell/inputrc
# !.config/shell/profile
# !.config/shell/shortcutrc
# !.config/shell/zshnamedirrc
# !.config/sxiv
# !.config/sxiv/exec
# !.config/tmux
# !.confgi/tmux/**
# !.config/wal
# !.config/wal/templates
# !.config/wal/templates/dunstrc
# !.config/wal/templates/zathurarc
# !.config/wal/postrun
# !.config/wget
# !.config/wget/wgetrc
# !.config/x11
# !.config/x11/xinitrc
# !.config/x11/xprofile
# !.config/x11/xresources
# !.config/zsh/
# !.config/zsh/**
# .config/zsh/.zcompdump
#
# !.local
# !.local/bin
# !.local/bin/tmux-cht.sh
# !.local/bin/tmux-sessionizer
# !.local/bin/tmux-windowizer
#
